{# file ~/Sites/blog/templates/app/_language_bar.html.twig #}

{% set languages = { 'en': 'English', 'es': 'Español', 'el': 'Ἑλληνικά' } %}
{% set current_label = languages[app.request.locale] ?: app.request.locale %}

<div
    class="language-bar-container dropdown w-100"
    data-cookie-domain="{{ app_cookie_domain }}"
>
    <a
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        class="btn btn-secondary btn-sm dropdown-toggle w-100"
    >
        <span class="ux-language-display">
            {{ current_label }}
        </span>
    </a>

    <ul class="dropdown-menu w-100">
        <li><a class="dropdown-item ux-language-toggler" data-ux-language="el" href="#">Ἑλληνικά</a></li>
        <li><a class="dropdown-item ux-language-toggler" data-ux-language="en" href="#">English</a></li>
        <li><a class="dropdown-item ux-language-toggler" data-ux-language="es" href="#">Español</a></li>
    </ul>
</div>
