{# file ~/Sites/blog/templates/app/_welcome_message.html.twig #}

{% if app.request.attributes.get('show_welcome') %}
    <div class="welcome-message">
        {% if app.user %}
            <h2>{{ 'homepage.welcome_user' | trans({'%username%': app.user.username}) | raw }}</h2>
        {% else %}
            <h2>{{ 'homepage.welcome_visitor' | trans | raw }}</h2>
        {% endif %}
        <p>{{ 'homepage.intro' | trans | raw }}</p>
        <p class="signature">Pendoncete</p>
    </div>
{% endif %}
