{# file ~/Sites/blog/templates/posts/_posts_list.html.twig #}

<div id="posts-list">
    {% for post in posts %}
        <article>
            {{ include('posts/post_preview.html.twig', {
                'id': post.id,
                'title': post.title,
                'slug': post.slug,
                'date': post.createdAt|date('d/m/Y'),
                'excerpt': post.content|slice(0, 180) ~ '...',
                'language': post.language,
                'diffusio': post.diffusio,
                'category': post.category
            }) }}
        </article>
    {% else %}
        <p class="text-muted">no posts found.</p>
    {% endfor %}
</div>
