# file ~/Sites/blog/.gitignore
# defines which files & folders aren't tracked by Git

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/logs/
/config/jwt/

# configuration files:
# 1. ignore ALL env files by default:
.env*
# 2. but ALLOW (do not ignore) the blueprints:
!.env
!.env.dev
!.env.prod
# 3. explicitly ignore all local/secret files (even if the rule above changes):
.env.local
.env.dev.local
.env.prod.local
.env.test.local

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> OS/IDE ###
# macOS Finder metadata
.DS_Store

# PHPStorm project files
.idea/
###< OS/IDE ###
